#meni {
    width: max-content;
    /*margin: auto;*/
    padding-bottom: 100px;
    top: 0;
    /*background-color: black;*/
    /*position: -webkit-sticky;*/
    position: sticky;
    /*scroll-margin-top: 0;*/
    background-color: #50c878;
    padding-right: 10px;
}

#menu ul {
    margin: 0;
    padding: 0;
}


#ri {
    float:left;
    margin: 0;
    padding: 0;
}


#aie {
    float:left;
    padding-left: 100px;
}


#tk {
    float:left;
    padding-left: 100px;
}


#ee {
    float:left;
    padding-left: 100px;
}

li {
    display: inline-block;
    list-style-type: none;
}



.rs_1, .bsc_1, .msc_1 {
    padding-left: 30px;
}

.grid-predmeta {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    gap: 10px;
    background-color: black;
    padding: 10px;
    border: 1px solid black;
}

.obavezni {
    background-color: whitesmoke;
    border: 1px solid black;
    height: 100px;
}

.neobavezni {
    background-color: powderblue;
    /*text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;*/
    border: 1px solid black;
    height: 100px;
}

p {
    font-size: 20px;
}

.neideovegodine {
    background-color: lightcoral;
    /*text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;*/
    border: 1px solid black;
    height: 100px;
}

[id] {
    scroll-margin-top: 100px;
}


@media screen and (max-width: 300px) {
    #meni div {
        float: none;
        /* background-color: whitesmoke; */
        top: 0;
    }
    #meni {
        position: static;
        margin-bottom: -100px; /* */
        background-color: white;
    }
    #aie {
        float:left;
        padding-left: 0px;
    }
    #tk {
        float:left;
        padding-left: 0px;
    }
    #ee {
        float:left;
        padding-left: 0px;
    }
}

.naziv-predmeta {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

img {
    width: 32px;
    height: 32px;
}
